.Logo{
    width: 125px;
    float: left;
    margin-top: 1rem;
    animation: spin 20s linear infinite
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;

}
nav ul{
  display: flex;
  align-items: center;
  padding:0;
}

nav ul li{
  list-style-type: none;
  font-size: 1.5rem !important;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
nav ul li:not(:last-child)::after {
  content: "|";
  margin-left: 2rem; /* Space between the navbar item and the bar */
  color: black; /* Match the color of your text or adjust as needed */
}
.link{
  text-decoration:none;
  color:black
}
.link:hover{
  color:white
}
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }