.Logo{
    width: 125px;
    float: left;
    margin-top: 1rem;
    animation: spin 20s linear infinite
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;

}
nav ul li{
  list-style-type: none;
  font-size: 1.5rem !important;
  display: inline;
  margin-right: 4rem;
}
.link{
  text-decoration:none;
  color:black
}
.link:hover{
  color:white
}
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }